// Framework Settings
// --------------------------------------------------------------------------
// NOTE: This partial is imported *before* we import the Sass for your chosen
// framework - so they will override any framework specific default settings
//
// A handful of core settings have already been defined for each framework to
// ensure integration with Kapow! These can be found in settings/plumbing.
//
// Change the value of $kp-framework to the framework you wish to use for the
// project, then add your additional framework setting overrides underneath.
//
// Commonly used overrides should be added as defaults over time.
// --------------------------------------------------------------------------

// Either 'bootstrap', 'foundation' or 'bourbon'. Defaults to no framework
$kp-framework: null !default;

// Import our 'plumbing' settings so Kapow!'s Sass variables override some of
// the important framework settings such as columns, row width etc
@import "settings/plumbing";

// Additional Overrides
// -------------------------------------
