// Define your project specific variables
// NOTE: Is it worth splitting this into _variables-core + _variables-custom ?!
// -----------------------------------------------------------------------------

// Base Values
// NOTE: Might be worth adding gutter width?!
// -------------------------------------

/// Base - Columns
/// @type Number
/// @group base
$kp-base--columns: 12 !default;

/// Base - Container Width
/// @type Number
/// @group base
$kp-base--container-width: 1500px !default;

/// Base - Font Size
/// @type Number
/// @group base
$kp-base--font-size: 16px !default;

/// Base - Row Width
/// @type Number
/// @group base
$kp-base--row-width: 1200px !default;

// Breakpoints & Media Queries
// -------------------------------------

/// Breakpoint - Xtra Small
/// @type Number
/// @group responsive
$kp-mq--xs: 480px;
$kp-mq--xs-min: (min-width: $kp-mq--xs);
$kp-mq--xs-max: (max-width: $kp-mq--xs - 1);

/// Breakpoint - Small
/// @type Number
/// @group responsive
$kp-mq--sm: 768px;
$kp-mq--sm-min: (min-width: $kp-mq--sm);
$kp-mq--sm-max: (max-width: $kp-mq--sm - 1);

/// Breakpoint - Medium
/// @type Number
/// @group responsive
$kp-mq--md: 998px;
$kp-mq--md-min: (min-width: $kp-mq--md);
$kp-mq--md-max: (max-width: $kp-mq--md - 1);

/// Breakpoint - Large
/// @type Number
/// @group responsive
$kp-mq--lg: 1200px;
$kp-mq--lg-min: (min-width: $kp-mq--lg);
$kp-mq--lg-max: (max-width: $kp-mq--lg - 1);

/// Breakpoint - Xtra Large
/// @type Number
/// @group responsive
$kp-mq--xl: 1500px;
$kp-mq--xl-min: (min-width: $kp-mq--xl);
$kp-mq--xl-max: (max-width: $kp-mq--xl - 1);

/// Breakpoints map
/// @prop {String} name - Breakpoint name
/// @prop {Map} query - Breakpoint query
/// @group responsive
/// @see {mixin} kp-mq
$kp-breakpoints: ("xs": $kp-mq--xs-min, "xs-max": $kp-mq--xs-max, "sm": $kp-mq--sm-min, "sm-max": $kp-mq--sm-max, "md": $kp-mq--md-min, "md-max": $kp-mq--md-max, "lg": $kp-mq--lg-min, "lg-max": $kp-mq--lg-max, "xl": $kp-mq--xl-min, "xl-max": $kp-mq--xl-max) !default;

// Colours - Specific
// -------------------------------------

/// Colour - Black
/// @type Color
/// @group colours
$kp-colour--black: #111 !default;

/// Colour - Green
/// @type Color
/// @group colours
$kp-colour--green: #080 !default;

/// Colour - Grey
/// @type Color
/// @group colours
$kp-colour--grey: #333 !default;

/// Colour - Grey Light
/// @type Color
/// @group colours
$kp-colour--grey-light: #eee !default;

/// Colour - Purple
/// @type Color
/// @group colours
$kp-colour--purple: #800080 !default;

/// Colour - Red
/// @type Color
/// @group colours
$kp-colour--red: #f00 !default;

/// Colour - White
/// @type Color
/// @group colours
$kp-colour--white: #fff !default;

// Colours - Abstract
// -------------------------------------

/// Branding - Primary
/// @type Color
/// @group colours
$kp-colour-branding--primary: $kp-colour--black !default;

/// Branding - Secondary
/// @type Color
/// @group colours
$kp-colour-branding--secondary: $kp-colour--black !default;

/// Branding - Tertiary
/// @type Color
/// @group colours
$kp-colour-branding--tertiary: $kp-colour--black !default;

/// Content - Copy
/// @type Color
/// @group colours
$kp-colour-content--copy: $kp-colour--grey !default;

/// Content - Heading
/// @type Color
/// @group colours
$kp-colour-content--heading: $kp-colour--black !default;

/// Content - Link
/// @type Color
/// @group colours
$kp-colour-content--link: $kp-colour--red !default;

/// Content - Link Hover
/// @type Color
/// @group colours
$kp-colour-content--link-hover: darken($kp-colour-content--link, 20%) !default;

/// Content - Link Visited
/// @type Color
/// @group colours
$kp-colour-content--link-visited: $kp-colour--purple !default;

/// Content - <pre> Background
/// @type Color
/// @group colours
$kp-colour-content--pre: $kp-colour--white !default;

/// Content - <pre> Background
/// @type Color
/// @group colours
$kp-colour-content--pre-bg: $kp-colour--black !default;

/// Form - Input Text
/// @type Color
/// @group colours
$kp-colour-form--input: $kp-colour--grey !default;

/// Form - Input Border
/// @type Color
/// @group colours
$kp-colour-form--input-border: $kp-colour--grey-light !default;

/// Form - Input Focus
/// @type Color
/// @group colours
$kp-colour-form--input-focus: $kp-colour--red !default;

/// Form - Input Focus Border
/// @type Color
/// @group colours
$kp-colour-form--input-focus-border: $kp-colour--red !default;

/// Form - Input Submit Text
/// @type Color
/// @group colours
$kp-colour-form--input-submit: $kp-colour--white !default;

/// Form - Input Submit Background
/// @type Color
/// @group colours
$kp-colour-form--input-submit-bg: $kp-colour--red !default;

// Font Families
// -------------------------------------

/// Font Stack - Code
/// @type String
/// @group typography
$kp-font-stack--code: Consolas, "Courier New", Monaco "Lucida Console", monospace !default;

/// Font Stack - Copy
/// @type String
/// @group typography
$kp-font-stack--copy: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

/// Font Stack - Heading
/// @type String
/// @group typography
$kp-font-stack--heading: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Font Weights
// -------------------------------------

/// Font Weight - Bold
/// @type Number
/// @group typography
$kp-font-weight--bold: 600 !default;

/// Font Weight - Light
/// @type Number
/// @group typography
$kp-font-weight--light: 300 !default;

/// Font Weight - Normal
/// @type Number
/// @group typography
$kp-font-weight--normal: 400 !default;

// Font Sizes
// -------------------------------------

/// Font Size - Copy Large
/// @type Number
/// @group typography
$kp-font-size--large: 18px !default;

/// Font Size - Copy Medium
/// @type Number
/// @group typography
$kp-font-size--medium: 16px !default;

/// Font Size - Copy Small
/// @type Number
/// @group typography
$kp-font-size--small: 14px !default;

/// Font Size - Heading 1
/// @type Number
/// @group typography
$kp-font-size--h1: 36px !default;

/// Font Size - Heading 2
/// @type Number
/// @group typography
$kp-font-size--h2: 32px !default;

/// Font Size - Heading 3
/// @type Number
/// @group typography
$kp-font-size--h3: 28px !default;

/// Font Size - Heading 4
/// @type Number
/// @group typography
$kp-font-size--h4: 26px !default;

/// Font Size - Heading 5
/// @type Number
/// @group typography
$kp-font-size--h5: 24px !default;

/// Font Size - Heading 6
/// @type Number
/// @group typography
$kp-font-size--h6: 22px !default;

// Line Heights
// -------------------------------------

/// Line Height - Code
/// @type Number
/// @group typography
$kp-line-height--code: 1.6em !default;

/// Line Height - Copy
/// @type Number
/// @group typography
$kp-line-height--copy: 1.5em !default;

/// Line Height - Heading
/// @type Number
/// @group typography
$kp-line-height--heading: 1.25em !default;

// Forms
// -------------------------------------

/// Placeholder Styles
/// @type List
/// @group forms
/// @see {mixin} kp-placeholder-styles
$kp-ph-styles: (color: $kp-colour-form--input, opacity: 1) !default;

/// Placeholder Prefixes
/// @type List
/// @group forms
/// @see {mixin} kp-placeholder-styles
$kp-ph--prefixes: "::-webkit-input-placeholder", "::-moz-placeholder", ":-ms-input-placeholder", "::placeholder" !default;
