// iOS specific hacks and workarounds
// -----------------------------------------------------------------------------

// Reset form field appearance for a
// standard look across all browsers
// -------------------------------------
input[type="email"],
input[type="password"]
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
