# Git Ignore for My Project
# -----------------------------------------------------------------------------

# Kapow! setup script
# -------------------------------------
kapow.sh

# Flotsam & Jetsam
# -------------------------------------
.DS_Store

# Nested Git files
# -------------------------------------
build/**/.git
build/**/.gitignore
build/**/.gitmodules

# Assets
# -------------------------------------
assets/css/*
!assets/css/.gitkeep
assets/js/lib/modernizr-custom.js

# Composer
# -------------------------------------
composer.lock
/vendor

# Dependencies
# -------------------------------------
bower_components
node_modules

# Documentation & Reports
# -------------------------------------

docs/*
!docs/.gitkeep
reports/*
!reports/.gitkeep

# WordPress
# -------------------------------------

# Root
build/*
!build/polyfills/
!build/wp-content/
!build/index.php
!build/local-config.php
!build/robots.txt
!build/wp-config.php
!build/.htaccess

# WP Content
build/wp-content/advanced-cache.php
build/wp-content/backup-db/
build/wp-content/backups/
build/wp-content/blogs.dir/
build/wp-content/cache/
build/wp-content/plugins/hello.php
build/wp-content/uploads/
build/wp-content/upgrade/
build/wp-content/wp-cache-config.php
build/wp-content/plugins/hello.php

# Themes - Stock
build/wp-content/themes/twentyten/
build/wp-content/themes/twentyeleven/
build/wp-content/themes/twentytwelve/
build/wp-content/themes/twentythirteen/
build/wp-content/themes/twentyfourteen/
build/wp-content/themes/twentyfifteen/
build/wp-content/themes/twentysixteen/

# Themes - Custom
build/wp-content/themes/my-project/assets/css/
build/wp-content/themes/my-project/assets/js/
build/wp-content/themes/my-project/style.css
build/wp-content/themes/my-project/style.css.map
