# Git Ignore for My Project
# -----------------------------------------------------------------------------

# OS Ignores
# -------------------------------------
.DS_Store

# Assets
# -------------------------------------
assets/css/*
!assets/css/.gitkeep
assets/js/lib/modernizr-custom.js
assets/sass/base/_sprites.scss

# Dependencies
# -------------------------------------
/bower_components
/node_modules

# Documentation & Reports
# -------------------------------------

documentation/*
!documentation/.gitkeep
reports/*
!reports/.gitkeep

# WordPress
# -------------------------------------

# Root
build/*
!build/polyfills/
!build/wp-content/
!build/index.php
!build/local-config-sample.php
!build/robots.txt
!build/wp-config.php
!build/.htaccess

# WP Content
build/wp-content/advanced-cache.php
build/wp-content/backup-db/
build/wp-content/backups/
build/wp-content/blogs.dir/
build/wp-content/cache/
build/wp-content/plugins/hello.php
build/wp-content/uploads/
build/wp-content/upgrade/
build/wp-content/wp-cache-config.php
build/wp-content/plugins/hello.php

# Themes - Stock
build/wp-content/themes/twentyten/
build/wp-content/themes/twentyeleven/
build/wp-content/themes/twentytwelve/
build/wp-content/themes/twentythirteen/
build/wp-content/themes/twentyfourteen/
build/wp-content/themes/twentyfifteen/

# Themes - Custom
build/wp-content/themes/my-project/css/
build/wp-content/themes/my-project/js/
build/wp-content/themes/my-project/style.css
build/wp-content/themes/my-project/style.css.map
